<h2 class="title2" style="font-size: 36px; font-weight: 700;">Editing Todo List</h2>
<div class="forms">
  <%= render 'form' %>
</div>

<%= link_to 'Cancel', @todo_list %> |
<%= link_to 'Back', todo_lists_path %>
