<% @todo_lists.each do |todo_list| %>
    <div class="title"><%= link_to todo_list.title, todo_list %></div>
    <div class="description"><%= todo_list.description %></div>
    <hr>
<% end %>

<%= link_to 'New Todo list', new_todo_list_path %>
