<% @todo_lists.each do |todo_list| %>
    <h2><%= link_to todo_list.title, todo_list %></h2>
    <div class="todolist"><%= todo_list.description %></div>
<% end %>

<%= link_to 'New Todo list', new_todo_list_path %>
